*{
    padding: 1;
    margin: 0;
    box-sizing: border-box;
}

html , body {
    height: 100%;
}sdasddsasd
    transform: rotateY(180deg);
}

#carta , .lado {
    width: 100%;
    height: 100%;
}

.lado{
    /*
    backface-visibility: Nos permite ocultar el reverso de un elemento ya que sino, al rotarlo siempre vamos a ver el mismo frente pero invertido

    */
    backface-visibility: hidden;
    position: absolute;
    top: 0;
}

#frente {
    background-color: red;
}

#dorso {
    background-color: blue;
    transform: rotateY(180deg);
    z-index: -1;
}




