
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    width: 100px;
    height: 100px;
    background-color: red;
    transition : all 0.3s ease;
}

div:hover {
    transform: scale(1.1);
    background-color: blue;
}




/*
https://cursosmegaup.bid/

http://www.intercambiosvirtuales.org/

https://es.khanacademy.org/computing/computer-programming

https://cubic-bezier.com/
*/
