/*

TRANSFORMACIONES : Son maneras de modificar estructuralmente una etiqueta sin afectar al resto del layout

REGLA : 
transform : Para todos
-webkit-transform : Chrome
-moz-transform : Mozilla
-o-transform : Opera
-ms-transform : Microsoft

VALORES : 
rotate : rotateY - rotateX - rotateZ - rotate3d

translate : translateY - translateX - translateZ - translate3d

La regla translate con valores absolutos(px) es literalmente ese movimiento mientras que con valores relativos(%) se calcula en base al tamaño del mismo elemento. Por otro lado , los valores para el eje Y son inversos a los ejes cartesianos : valores positivos van para abajo y valores negativos van para arriba 


scale : scaleY - 
skew : 


TRANSICIONES : Es la manea de describir el pasaje entre el estado inicial y final de una transformacion (no necesariamente usando la regla transform)

transition : <property> <duration> <delay> <timing-function> [, <property> <duration> <delay> <timing-function>]

transition-property : el/los nombres de reglas separados por espacio si quiero una transicion distinta para cada una ó "all" para la misma transicion para todas las reglas

transition-duration : La duracion entre el estado inicial y el final sin contar el delay y está expresado en unidad "s" o "ms" 

transition-delay : El tiempo de espera antes que la transicion arranque y está expresado en unidad "s" o "ms" 

transition-timing-function : 

ANIMACIONES 



FLEXBOX : 

reglas del padre : 

display : flex
flex-direction :  row - column - row-severse - column-reverse 
justify-content : flex-start - flex-end - center - space-between - space-around - space-evenly*(no es estandar)
align-items : flex-start - flex-end - center - stretch(default) 
align-content : 
flex-wrap : 
flex-flow :


MEDIDAS RELATIVAS : % - em - rem - vw - vh

Establecer medidas en porcentaje hace que la misma se tenga que calcular en base al tamaño del contenedor. Para el ancho no hay problema pero con el alto si ya que ninguna etiqueta viene con altura entonces la altura en porcentaje necesita saber una altura absoluta. 

*/

/*Reglas de reseteo*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* 

selector1 selector2 {} : selector2 es hijo de selector1 pero en cualquier nivel de jerarquia de nodos

selector1 > selector2 {} : selector2 es hijo directo de selector1

*/

html , body { 
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    width: 100px;
    height: 100px;
    background-color: red;
    transition : all 0.3s ease;
}

div:hover {
    transform: scale(1.1);
    background-color: blue;
}




/*
https://cursosmegaup.bid/

http://www.intercambiosvirtuales.org/

https://es.khanacademy.org/computing/computer-programming

https://cubic-bezier.com/
*/